portSettings:
  # Minimum distance a new port can be from an existing port
  minimumDistance: 10
  # Base cost for a journey
  baseCost: 5.00
  # Base cost for traveling to a node with an animal
  animalBaseCost: 5.00
  # Icon for when a port is blockaded (Material)
  blockadeIcon: SKELETON_SKULL
  # Show all blockaded ports in the travel menu
  showBlockaded: true
  # Automatically remove a port if its associated town is deleted
  removePortOnTownDelete: true

  sizes:
    tiny:
      tier: 1
      name: "Jetty"
      # Distance (radius) this port can facilitate in travel in blocks
      range: 500.00
      # Cost per 100 blocks traveled
      cost: 16.00
      # Blocks per second
      speed: 25.00
      # How far the player can be from the port location before any ongoing journeys will be halted
      journeyHaltRadius: 20.00
      # The icon that will display in the travel menu
      icon: JUNGLE_BOAT
    small:
      tier: 2
      name: "Dockyard"
      range: 1000.00
      cost: 12.00
      speed: 30.00
      journeyHaltRadius: 30.00
      icon: BIRCH_BOAT
    medium:
      tier: 3
      name: "Marina"
      range: 2000.00
      cost: 8.00
      speed: 50.00
      journeyHaltRadius: 40.00
      icon: OAK_BOAT
    large:
      tier: 4
      name: "Harbor"
      range: 3000.00
      cost: 6.00
      speed: 60.00
      journeyHaltRadius: 50.00
      icon: DARK_OAK_BOAT
    superLarge:
      tier: 5
      name: "Megaport"
      range: 5000.00
      cost: 5.00
      speed: 80.00
      journeyHaltRadius: 60.00
      icon: MANGROVE_BOAT


